/*.line{border:2px solid #7dbe4b; width: 50px; margin: 50px auto;}*/
/*
.line {
    border-top: 1px solid #000;
    width: 100px;
    margin: 50px auto;
}
*/


/*sub*/
p.subs-title {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #777;
}

.sub-content {
    margin-bottom: 3%;
}

/*about*/
.about-content h1 {
    font-size: 18px;
    margin: 30px 0;
}

.bigtext {}

.gray {
    color: #848484;
}

.bigtext p {
    font-size: 25px;
}

.moto-info {
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.moto-info p:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.moto-info p span:first-child {
    color: #cc3444;
}

.moto-info p span:nth-child(2) {
    color: #ffd22d;
}

.moto-info p span:nth-child(3) {
    color: #1ea5e1;
}

p.about-info {
    line-height: 30px;
}

.about-visual {
    background: url('../img/conference-room-768441.jpg') no-repeat center;
    height: 300px;
}

.ci-info {}

.ci-info p {
    line-height: 30px;
}

.ci-logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 2%;
}

.ci-logo img {
    height: 100px;
}

.ci-info {
    display: inline-block;
    vertical-align: top;
}

.weare-visual {
    
}

.weare-visual img {
}

.weare-visual .overlay {
    
}

/*오버레이효과*/
.about-container {
    position: relative;
    width: 33%;
    display: inline-block;
}

.about-image {
    display: block;
    width: 100%;
    height: auto;
}

.about-overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(204, 52, 68, 0.8);
    cursor: pointer;
}
.about-overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 210, 45, 0.8);
    cursor: pointer;
}
.about-overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(125, 190, 75, 0.8);
    cursor: pointer;
}

.about-container:hover .about-overlay1 {
    opacity: 1;
}
.about-container:hover .about-overlay2 {
    opacity: 1;
}
.about-container:hover .about-overlay3 {
    opacity: 1;
}

.about-text1 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: #222;
    padding: 5px;
    border-radius: 5px;
    font-size:13px;
}
.about-text2 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: #222;
    padding: 5px;
    border-radius: 5px;
    font-size:13px;
}
.about-text3 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: #222;
    padding: 5px;
    border-radius: 5px;
    font-size:13px;
}

.one_third {
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    box-sizing: border-box;
    line-height: 30px;
    letter-spacing: 1px;
    vertical-align: top;
}

.one_third h2 {
    margin: 10px 0;
}

/*works*/

.works-visual {
    background: url('../img/computer-2982270.jpg') no-repeat center;
    background-size: 100%;
    height: 300px;
}

.works {}

ul.tabs {
    margin-bottom: 1%;
    list-style: none;
}

ul.tabs li:last-child::after {
    border: none;
}

ul.tabs i {
    font-size: 20px;
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

ul.tabs img {
    height: 30px;
    display: block;
    margin-bottom: 2px;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #000;
}

ul.tabs li:first-child {}

ul.tabs li.current {
    color: #fff;
    background: #222;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

/*#more {display: none;}*/


.xtalk-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 1);
  overflow-y: hidden;
  transition: 0.5s;
}

html, body{
  height: 100%;
  overflow: auto;
}

.xtalk-overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  overflow: scroll;
  height: 100%;
}

.xtalk-overlay-content img{width: 300px;}

.xtalk-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.xtalk-overlay a:hover, .xtalk-overlay a:focus {
  color: #f1f1f1;
}

.xtalk-overlay .xtalk-closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .xtalk-overlay {overflow-y: auto;}
  .xtalk-overlay a {font-size: 20px}
  .xtalk-overlay .xtalk-closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*request*/
.requestbg {
    height: 300px;
    background: url("../img/building-1210022.jpg") no-repeat center;
}

.requestbg p{
    text-align: center;
    padding-top: 80px;
    color: #fff;
    margin-bottom: 10px;
}
.requestbg p i{color:#fff;}

.requestbg h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 2px #444;
}

.sub-content form input[type=text],
.sub-content form input[type=email] {
    border: 1px solid #000;
    padding: 20px;
    display: inline-block;
    width: 49.5%;
    margin: 10px 0;

}

.sub-content form textarea {
    border: 1px solid #000;
    padding: 10px;
    display: block;
    margin: 10px 0;
    width: 99.5%;
    height: 200px;
}

.submit-center {
    text-align: center;
}

.sub-content form input[type=submit] {
    color: #fff;
    background: #222;
    text-decoration: none;
    border: 1px solid #000;
    padding: 20px 120px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
}

.sub-content form input[type=submit]:hover {
    background: #0140D3;
    color: #fff;
    transition: 1s;
}

/*blog*/
.blog {}
